<!DOCTYPE html>
<html ng-app="AppModule">
	<head>
		<title>Angular test - with controller</title>
	</head>
	<body ng-controller="TodoController">
		<form ng-submit="search(searchTerm)">
			<input ng-model="searchTerm" placeholder="Search YouTube" />
		</form>
		<h2>Videos</h2>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Link</th>
				</tr>
			</thead>
			<tr ng-repeat="video in videos">
				<td>{{video.title.$t}}</td>
				<td>{{video.link[0].href}}</td>
			</tr>
		</table>
		<script src="../angular.min.js"></script>
		<script src="ng-services/YouTubeService.js"></script>
		<script src="ng-controllers/TodoController.js"></script>
		<script src="app.js"></script>
	</body>
</html>